# Node modules
node_modules/

# Logs
logs/
*.log

# dotenv environment variables file
.env

# Build artifacts
dist/

# Temporary files
*.tmp
*.temp
*.swp

# Docker
docker-compose.override.yml
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# macOS
.DS_Store

# Visual Studio Code
.vscode/
